<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>MOOQ</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='/assets/img/logo.png') }}" rel="icon" />
  <link href="{{ url_for('static', filename='/assets/apple-touch-icon.png') }}" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect" />
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='/assets/vendor/aos/aos.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet" /><section id="anggotaKelompok">
  <link href="{{ url_for('static', filename='/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet" />


  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: QuickStart
  * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
  * Updated: May 04 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="/" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">MOO</h1>
        
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="" />
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#classification">Classification</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="hero-bg">
        <img src="{{ url_for('static', filename='assets/img/gambar-bg.jpg') }}" alt="" />
      </div>
      <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 data-aos="fade-up" class="selamat datang">Welcome to <span>MOOQ</span></h1>
          <p data-aos="fade-up" data-aos-delay="100" class="">
            Temukan cara baru untuk meningkatkan kontrol kualitas produk Anda
            dengan teknologi kami yang inovatif.<br />
          </p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#classification" class="btn-get-started">Get Started</a>
          </div>
          <img src="{{ url_for('static', filename='assets/img/gambar -1.jpg') }}" class="gambar" alt="" data-aos="zoom-out" data-aos-delay="300" />
        </div>
      </div>
    </section>
    <!-- /Hero Section -->


    <!-- Sectioan about -->
    <section id="about">
      <div id="about" class="tentang mooq">
        <br>
        <h2>About MOOQ</h2>
        <h4>MooQ, a trusted friend for milk producers. This smart application, based on artificial intelligence, makes it easy to monitor milk quality. With fast and accurate analysis capabilities, MooQ ensures that dairy products meet the highest quality standards. By using MooQ, producers can be sure that the milk is always in the best condition.</h4>
        <h2>Classification Features</2>
        <br>
        <div class="row slideanim">
           <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
             <img src="{{ url_for('static', filename='assets/img/pH-Value.webp') }}" alt="member photo">
             <h4>pH</h4>
             <p>Optimal milk pH helps maintain microbiological stability and extends shelf life. A good pH in milk generally ranges from 6.5 to 6.7.</p>
             
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/temperature.png') }}" alt="member photo">
              <h4>Temperature</h4>
              <p>A temperature range of around 0-4 degrees Celsius (32-39 degrees Fahrenheit) helps maintain milk freshness and prevents the growth of unwanted bacteria.</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/odor.png') }}" alt="member photo">
              <h4>Odor</h4>
              <p>A good odor in milk should be fresh and neutral. Good milk should not have a strong or unusual odor.</p>
            </div>
          </div>
          <br>
          <div class="row slideanim">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/taste.png') }}" alt="member photo">
              <h4>Taste</h4>
              <p> High-quality milk should have a delicious and pleasant taste, without any noticeable sour or bitter taste.</p>
            </div>
           <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/fat.png') }}" alt="member photo">
              <h4>Fat</h4>
              <p>Healthy fresh milk has natural fat content, which provides the desired flavor and creaminess.</p>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/turbidity.png') }}" alt="member photo">
              <h4>Turbidity</h4>
              <p>High levels of turbidity can be an indication of contamination or fouling, which can affect the quality of the milk</p>
            </div>
          </div>
          <br>
          <div class="row slideanim">
           <div class="col-sm-4">
              <span class="glyphicon glyphicon-user logo-small"></span>
              <img src="{{ url_for('static', filename='assets/img/color.png') }}" alt="member photo">
              <h4>Color</h4>
              <p>Good fresh milk has a clean, clear white color, indicating its quality and cleanliness.</p>
            </div>
          </div>
        
        </section>

    <!-- Featured Services Section 1 -->
    <section id="classification">
      <div class="container">
        <h1>MOOQ Classification</h1>
        <form id="qualityForm">
          <!-- form fields -->
          <label for="ph_value">pH Value:</label>
  <input type="number" id="ph_value" name="ph_value" step="0.1" min="0" max="14" required><br><br>

  <label for="temperature">Temperature (°C):</label>
  <input type="number" id="temperature" name="temperature" placeholder="Masukkan temperatur" required><br><br>

  <label for="taste">Taste (0: Tidak enak, 1: Enak):</label>
  <select id="taste" name="taste" required>
    <option value="0">Tidak enak</option>
    <option value="1">Enak</option>
  </select><br><br>

  <label for="odor">Odor (0: Tidak berbau, 1: Berbau):</label>
  <select id="odor" name="odor" required>
    <option value="0">Tidak berbau</option>
    <option value="1">Berbau</option>
  </select><br><br>

  <label for="fat">Fat Content (0: Rendah, 1: Tinggi):</label>
  <select id="fat" name="fat" required>
    <option value="0">Rendah</option>
    <option value="1">Tinggi</option>
  </select><br><br>

  <label for="turbidity">Turbidity (0: Rendah, 1: Tinggi):</label>
  <select id="turbidity" name="turbidity" required>
    <option value="0">Rendah</option>
    <option value="1">Tinggi</option>
  </select><br><br>

  <label for="colour"><a href="/warna" target="_blank">Colour range (0-255):</a></label>
  <input type="number" id="colour" name="colour" min="0" max="255" required><br><br>
          <button type="button" class="btn-submit" onclick="submitForm()">Hitung Grade</button>
        </form>
        <div class="result" id="resultSection">
          <h2>Grade:</h2>
          <p id="gradeOutput"></p>
      </div>
    </section>
    <!-- Featured Services Section-2 -->
    <section id="team">
      <div class="nama-nama">
        <br>
        <h2>ANGGOTA KELOMPOK</h2>
        <h4>Tim DS MOOQ </h4>
        <br>
        <div class="row slideanim">
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Bagas Cahyo Purnomo.jpg') }}" alt="member photo">
            <h4>BAGAS CAHYO PURNOMO</h4>
            <p>Universitas Jember</p>
            <p>ML Engineer</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Eka Hasdiyawati .JPG') }}" alt="member photo">
            <h4>EKA HASWIDYAWATI PRYADJI</h4>
            <p>Universitas Jember</p>
            <p>Data Engineer</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Reskidayanti .JPG') }}" alt="member photo">
            <h4>RESKIDAYANTI</h4>
            <p>Universitas Negeri Makassar</p>
            <p>Frontend Engineer</p>
          </div>
        </div>
        <br>
        <div class="row slideanim">
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Muhammad Rafli Putra Achmad .JPG') }}" alt="member photo">
            <h4>MUHAMMAD RAFLI PUTRA ACHMAD</h4>
            <p>Universitas Hasanuddin</p>
            <p>Backend Engineer</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Virda Arinanda .jpg') }}" alt="member photo">
            <h4>VIRDA ARINANDA</h4>
            <p>Universitas Pawyatan Daha</p>
            <p>UI/UX Designer</p>
          </div>
          <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <img src="{{ url_for('static', filename='assets/img/Elrisa Riris.webp') }}" alt="member photo">
            <h4>ELRISA RIRIS FEBRIAN</h4>
            <p>Universitas Nusantara PGRI Kediri</p>
            <p>Technical Writer</p>
          </div>
        </div>
      </div>
    </section>
    
  </main>
  <footer>
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2024 MOOQ. All rights reserved.</p>
        <p>Contact: info@mooq.com</p>

      </div>
  </footer>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function submitForm() {
      const form = document.getElementById('qualityForm');
      const formData = new FormData(form);

      fetch('/predict', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          document.getElementById('gradeOutput').textContent = data.gradeOutput;
          console.log(data.gradeOutput)
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>
  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
</body>

</html>