<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>MOOQ</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: QuickStart
  * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
  * Updated: May 04 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <h1 class="sitename">MOO</h1>
          <img src="assets/img/logo.png" alt="" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index.html#hero">Home</a></li>
            <li><a href="index.html#classification">Classification</a></li>
            <li><a href="index.html#anggotaKelompok">Team</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section">
        <div class="hero-bg">
          <img src="assets/img/gambar-bg.jpg" alt="" />
        </div>
        <div class="container text-center">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <h1 data-aos="fade-up" class="selamat datang">Welcome to <span>MOOQ</span></h1>
            <p data-aos="fade-up" data-aos-delay="100" class="">
              Temukan cara baru untuk meningkatkan kontrol kualitas produk Anda
              dengan teknologi kami yang inovatif.<br />
            </p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="classification" class="btn-get-started">Get Started</a>
            </div>
            <img
              src="assets/img/gambar -1.jpg"
              class="gambar"
              alt=""
              data-aos="zoom-out"
              data-aos-delay="300"
            />
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- Featured Services Section 1 -->
    <section id="classification">
      <div class="container">
            <h1> MOOQ Classification </h1>
              <form action="#" method="post" id="qualityForm">
                  <label for="ph_value">Nilai pH:</label><br>
                  <input type="number" id="ph_value" name="ph_value" step="0.1" min="0" max="14" required>
      
                  <label for="temperature">Temperatur (°C):</label>
                  <input type="number" id="temperature" name="temperature" placeholder="Masukkan temperatur" required>
      
                  <label for="taste">Taste (0: Tidak enak, 1: Enak):</label><br>
                  <select id="taste" name="taste" required>
                  <option value="0">Tidak enak</option>
                  <option value="1">Enak</option>
                  </select><br><br>
      
                  <label for="odor">Odor (0: Tidak berbau, 1: Berbau):</label><br>
                  <select id="odor" name="odor" required>
                  <option value="0">Tidak berbau</option>
                  <option value="1">Berbau</option>
                  </select><br><br>
      
                  <label for="fat">Fat (0: Rendah, 1: Tinggi):</label><br>
                  <select id="fat" name="fat" required>
                  <option value="0">Rendah</option>
                  <option value="1">Tinggi</option>
                  </select><br><br>
      
                  <label for="turbidity">Turbidity (0: Rendah, 1: Tinggi):</label><br>
                  <select id="turbidity" name="turbidity" required>
                  <option value="0">Rendah</option>
                  <option value="1">Tinggi</option>
                  </select><br><br>

                  <label for="colour"> colour range (0-255):</label><br>
                  <input type="number" id="red" name="red" min="0" max="255" required><br><br>

                  <button onclick="window.open('warna.html')">Detail Warna</button><br><br>

                  <input type="submit" value="Hitung Grade">
              </form>
              <div class="result" id="resultSection" style="display: none;">
                  <h2>Grade:</h2>
                  <p id="gradeOutput"></p>
              </div>
          </div>
        </section>
                <!-- Featured Services Section-2 -->
          <section id="anggotaKelompok">
            <div id="anggotaKelompok" class="container-fluid text-center">
              <br>
              <h2>ANGGOTA KELOMPOK</h2>
              <h4>Tim DS MOOQ </h4>
              <br>
              <div class="row slideanim">
                 <div class="col-sm-4">
                  <span class="glyphicon glyphicon-user logo-small"></span>
                   <img src="assets/img/Bagas Cahyo Purnomo.jpg" alt="member photo">
                   <h4>BAGAS CAHYO PURNOMO</h4>
                   <p>Universitas Jember</p>
                   <p>ML Engineer</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <img src="assets/img/Eka Hasdiyawati .JPG" alt="member photo">
                    <h4>EKA HASWIDYAWATI PRYADJI</h4>
                    <p>Universitas Jember</p>
                    <p>Data Engineer</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <img src="assets/img/Reskidayanti .JPG" alt="member photo">
                    <h4>RESKIDAYANTI</h4>
                    <p>Universitas Negeri Makassar</p>
                    <p>Frontend Engineer</p>
                  </div>
                </div>
                <br>
                <div class="row slideanim">
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <img src="assets/img/Muhammad Rafli Putra Achmad .JPG" alt="member photo">
                    <h4>MUHAMMAD RAFLI PUTRA ACHMAD</h4>
                    <p>Universitas Hasanuddin</p>
                    <p>Backend Engineer</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <img src="assets/img/Virda Arinanda .jpg" alt="member photo">
                    <h4>VIRDA ARINANDA</h4>
                    <p>Universitas Pawyatan Daha</p>
                    <p>UI/UX Designer</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <img src="assets/img/Elrisa Riris.webp" alt="member photo">
                    <h4>ELRISA RIRIS FEBRIAN</h4>
                    <p>Universitas Nusantara PGRI Kediri</p>
                    <p>Technical Writter</p>
                  </div>
                </div>
              </section>
              </main>
              <footer>
                <div class="container">
                  <div class="footer-content">
                    <p>&copy; 2024 MOOQ. All rights reserved.</p>
                    <p>Contact: info@mooq.com</p>

                </div>
              </footer>


    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
